.container {
  text-align:center;
  padding:20px;
  margin-top:40%;
  
}
img {
  max-width:100px;
  height:auto;
  margin-bottom: 10%;
}
button {
  padding:10px 70px;
  background-color:#333333;
  color:#ffffff;
  border-radius: 5px;
  cursor:pointer;
}
.skip {
  text-align:right;
  margin-bottom: 40%;
  
  color:#333333;
  cursor:pointer;
}
.dot {
  width:10px;
  height:10px;
  border-radius:50%;
  background-color: #ccc;
  margin:0px;
  display:inline-block;

}
.dot.active {
  background-color: #333333;
}
/* Get started */
.get-started-contaner {
  text-align:center;
  padding:20px;
  margin-top:50%;
}
.tagline {
  display:flex;
  flex-direction:flex-start;
  justify-content: center;
  margin-bottom: 20%;
}

.company-name {
  margin-bottom: 5%;
}
.big-text {
  font-size: 50px;
  font-weight: 800;
}
.underlined-text {
  vertical-align: text-bottom;
  text-decoration:underline;
  margin-left: 10px;
  font-size: 45px;
  font-family:monospace;
  font-weight:10;
}
.getStartbutton {
  margin-top:30%;
}
.bottom-navigation {
  background-color: #333333;
  display:block;
  flex-direction:row;
  margin-top:35%;
  overflow:hidden;
}